.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 50px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.header .logo {
    font-size: 35px;
    font-weight: 900;
    color: #0044cc;
    margin-right: 80px;
    text-shadow: 3px 2px 0px rgba(255, 152, 0, 0.7);
}

.header .logo-link {
    text-decoration: none;
    color: inherit;
}

.header .nav {
    display: flex;
    flex: 1;
    justify-content: center;
}

.header .nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
}

.header .nav ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header .nav ul li a {
    text-decoration: none;
    color: #ff9800;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    text-align: center;
    transition: transform 0.2s;
}

.header .nav ul li a svg {
    stroke: #0044cc;
}

.header .nav-link:hover {
    color: #0044cc;
    transform: scale(1.2);
}

.header .search-bar {
    display: flex;
    align-items: center;
    margin-left: 40px;
    margin-right: auto;
}

.header .search-bar input {
    padding: 13px;
    border: 1px solid #000;
    border-radius: 15px;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 1);
    width: 250px;
}
