body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
html, body {
    overflow-x: hidden;
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #0044cc;
    padding: 50px;
    color: white;
    flex-wrap: wrap;
}

.content {
    max-width: 50%;
}

.hero h2 {
    font-size: 32px;
    font-weight: bold;
}

.buttons {
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    font-weight: bold;
}

.btn-inscrire {
    background-color: #ffd858;
    color: white;
    margin-right: 10px;
}

.btn-connecter {
    background-color: #ffd858;
    color: white;
    border: 2px solid #0044cc;
}

.illustration {
    flex: 1;
    text-align: center;
}

.illustration img {
    max-width: 100%;
    height: auto;
    max-height: 350px;
}

@media (max-width: 768px) {
    .hero {
        flex-direction: column-reverse;
        text-align: center;
    }

    .content {
        max-width: 100%;
    }

    .illustration {
        margin-bottom: 30px;
    }
}

.new-quizzes {
    background-color: #3949ab;
    padding: 50px;
    color: white;
}
.new-quizzes h2 {
    font-size: 28px;
    margin-bottom: 20px;
}
.quiz-cards {
    display: flex;
    gap: 20px;
}

.quiz-themes {
    background-color: #0044cc;
    padding: 50px;
    color: white;
    position: relative;

}

.quiz-themes .decorative-line {
    width: 100%;
    height: 2px;
    background-color: white;
    margin-top: 10px;
    border-radius: 5px;
}

.themes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
    justify-items: center;
}


.theme {
    text-decoration: none;
}

.theme:hover {
    transform: scale(1.05);
}

.theme {
    background-color: white;
    color: #3949ab;
    padding: 20px;
    border-radius: 10px;
    width: 100px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    text-align: center;
}

.theme .icon {
    font-size: 32px;
    margin-bottom: 10px;
}

.theme .title {
    font-size: 14px;
    text-align: center; 
    margin: 0; 
}

@media (min-width: 768px) {
    .themes-grid {
        grid-template-columns: repeat(5, 1fr);
    }
}

